/*Cabezera*/
.img_superior{
display: flex;
justify-content: space-around;


}
.img_text{
    display: flex;
    color: #C47932;
    gap: 20px;

}

.iconos{ 

    display: flex;
    width: 24px;
    
}
/**/

.img_fondo{
    display: flex;
    width: 80%;
    
}
.img_icono{
    display: flex;
    align-items: center;
    gap: 7px;

}

